<html>
    <head>
        <title>Find Book</title>
    </head>

    <body>
        <table id="best_book" border="1">
            <tr>
                <td>Digital</td>
                <td>Circuit</td>
                <td>Analog</td>
            </tr>
        </table>

        <br><br>

        <form id="categories" method="GET">
            <input type="checkbox" name="com" value="Computer">Computer<br><br>
            <input type="checkbox" name="math" value="Math">Math<br><br>
            <input type="checkbox" name="phy" value="Physic">Physic<br><br>
            <input type="checkbox" name="sport" value="Sport">Sport<br><br>
            <input type="text" name="book_name" placeholder="Enter Book Name">
            <input type="submit" value="Search">
        </form>

        <table id="search_book" border="1">
            {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.score }}</td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
