<html>
    <head>
        <title>Find Book</title>
    </head>

    <body>
        <table id="best_book" border="1">
            <tr>
                <td>Digital</td>
                <td>Circuit</td>
                <td>Analog</td>
            </tr>
        </table>

        <br><br>

        <form id="categories" method="GET">
            <input type="checkbox" name="com" value="computer">Computer<br><br>
            <input type="checkbox" name="math" value="math">Math<br><br>
            <input type="checkbox" name="phy" value="physic">Physic<br><br>
            <input type="checkbox" name="sport" value="sport">Sport<br><br>
            <input type="text" name="book_name" placeholder="Enter Book Name">
            <input type="submit" value="Search">
        </form>

    </body>
</html>
